
div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #buyButton {
    margin-bottom: 10px;
  }
  
  #category li, #list li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
  }
  

  button {
    padding: 5px 10px;
    background-color: #eee;
    border: none;
    cursor: pointer;
  }

  #list{
 
    border: none;
  }
  #info{
    
    border: none;
  }
